<article class="poster-card playlist-card">
  <div class="poster-card__media playlist-card__media">
    <span class="playlist-card__count"><%= pluralize(playlist.videos_count, "video") %></span>
  </div>
  <h3 class="poster-card__title" title="<%= playlist.title %>"><%= playlist.title %></h3>
</article>
