<% content_for :title, "Account" %>

<main class="page listing">
  <h1 class="listing__title">Account</h1>
  <p class="u-meta"><%= @user.display_label %></p>
  <p class="u-caption">Account management is coming soon.</p>
</main>
